.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  @apply text-dune-deepBlue;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-poppins);
}

.tableContainer {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 864px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }
}

.subtitle {
  @apply text-dune-deepBlue;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 1rem;
  text-align: left;
  font-family: var(--font-poppins);
}
